# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [119]:
# Your code here
import pandas as pd
import numpy as np

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
# First we want to standardize the column names
df.columns = df.columns.str.lower().str.replace(" ","_")

# Now we want to replace the name of the 'st' column by 'state'
df.rename(columns={"st":"state"}, inplace=True)
df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [121]:
# Your code here
# We want to standardize the values in the gender column
def standardize_gender(value):
    if type(value) == str:
        if value[0].lower() == "m":
            return "M"
        else:
            return "F"

df["gender"] = df["gender"].apply(standardize_gender)
#df["gender"].value_counts() # To check if it worked

# We want to standardize the values in the state column (we want the full name with title case)
def standardize_state(value):
    if type(value) == str:
        if value[0].lower() == "a":
            return "Arizona"
        elif value[0].lower() == "c":
            return "California"
        elif value[0].lower() == "w":
            return "Washington"
        else:
            return value.title()

df["state"] = df["state"].apply(standardize_state)
#df["state"].value_counts()

# We want to standardize the values in the education column all Bachelors should be 'Bachelor')
df["education"] = df["education"].apply(lambda x: "Bachelor" if type(x) == str and x[0].lower() == "b" else x.title() if type(x) == str else x)
#df["education"].value_counts()

# We want to get rid of the % sign in the customer_lifetime_value column
def clean_clv(value):
    if type(value) == str:
        return float(value.replace("%",""))
    return value

df["customer_lifetime_value"] = df["customer_lifetime_value"].apply(clean_clv)
#df["customer_lifetime_value"].head()

# In the vehicle_class column we want to merge "Sport Cars", "Luxury SUV" and "Luxury Car" into just "Luxury"
def standardize_vehicle_classes(value):
    if type(value) == str:
        if value in ["Sports Car", "Luxury SUV", "Luxury Car"]:
            return "Luxury"
    return value

df["vehicle_class"] = df["vehicle_class"].apply(standardize_vehicle_classes)
#df["vehicle_class"].value_counts()

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [122]:
# We first want the value of customer lifetime to be numeric
print(df["customer_lifetime_value"].dtype)
print("Customer lifetime value is already numeric")

float64
Customer lifetime value is already numeric

In [123]:
# Unique values in the number of open complaints column
df["number_of_open_complaints"].value_counts()

# Now we want to split the values in the number_of_open_complaints column to get only the number in the middle
def get_complaints(value):
    if type(value) == str:
        return int(value.split("/")[1])
    return value

df["number_of_open_complaints"] = df["number_of_open_complaints"].apply(get_complaints)
df["number_of_open_complaints"].value_counts()

number_of_open_complaints
0.0    830
1.0    138
2.0     50
3.0     34
4.0     13
5.0      6
Name: count, dtype: int64

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [124]:
# Your code here
# We want to drop null values in every column because we saw that almost every column had the same amount of null values
df.dropna(inplace=True)
df.isna().sum() # To check if it worked

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [125]:
# Your code here
# Let's check the duplicated rows in the dataframe
df.duplicated().sum()

# We don't have any duplicated rows so we don't need to drop any rows

np.int64(0)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [117]:
# Your code here
# We'll now use user-defined functions to clean the data in the same way we did in all the previous exercises
# Lets call all the function.pys we created before and put them in a single function that will clean the entire dataframe

%load_ext autoreload
%autoreload 2

import clean_data_function
import clean_clv_function
import get_complaints_function
import standardize_education_function
import standardize_gender_function
import standardize_state_function
import standardize_vehicle_classes_function

def full_cleaning(df):
    clean_data_function.clean_data(df)
    df["gender"] = df["gender"].apply(standardize_gender_function.standardize_gender)
    df["state"] = df["state"].apply(standardize_state_function.standardize_state)
    df["education"] = df["education"].apply(standardize_education_function.standardize_education)
    df["customer_lifetime_value"] = df["customer_lifetime_value"].apply(clean_clv_function.clean_clv)
    df["vehicle_class"] = df["vehicle_class"].apply(standardize_vehicle_classes_function.standardize_vehicle_classes)
    df["number_of_open_complaints"] = df["number_of_open_complaints"].apply(get_complaints_function.get_complaints)
    df.dropna(inplace=True)
    return df

df = full_cleaning(df)

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [132]:
# Your code here
percentile_75 = df['total_claim_amount'].quantile(0.75)
percentile_25 = df['customer_lifetime_value'].quantile(0.25)
policy_claim_df = df[(df['total_claim_amount'] > percentile_75) & (df['customer_lifetime_value'] < percentile_25)]

policy_claim_df[['total_claim_amount', 'customer_lifetime_value']].describe()
# Based on the statistics, we can compare characteristics of these customers with the rest of the customers in the dataframe

# For example, we can look at the mean and median values
# As we can see, the mean and median values for total_claim_amount are significantly higher than those for customer_lifetime_value, indicating that these customers tend to have higher claim amounts relative to their lifetime value. This could suggest that they are riskier customers or that they have had more claims in the past.
# Also, we can look at the standard deviation to see how much variability there is in these values
# The standard deviation for total_claim_amount is quite high, indicating that there is a lot of variability in the claim amounts among these customers. In contrast, the standard deviation for customer_lifetime_value is relatively low, suggesting that the lifetime values of these customers are more consistent.
# Overall, these statistics suggest that the customers in this subset tend to have higher claim amounts relative to their lifetime value, and that there is a lot of variability in their claim amounts. This information could be useful for identifying potential high-risk customers and developing strategies to manage their claims more effectively.

       total_claim_amount  customer_lifetime_value
count           35.000000                35.000000
mean           712.065602            343009.593714
std            145.436339             57540.924326
min            537.600000            228759.690000
25%            631.919877            299913.535000
50%            679.368378            366737.500000
75%            757.535488            386921.190000
max           1185.988301            407913.270000